<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body class="container-fluid">
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #1b6535; border-radius: 0 0 10px 10px;">
    <div class="container-fluid">
        <div class="navbar-brand d-flex align-items-center justify-content-between">
            <img src="/img/pharma.jpg" alt="logo" width="15%" height="15%" style="border-radius: 10px; min-width: 86px; min-height: 38px; margin-right: 5px"/>
            <div>
            <a type="button" class="btn btn-outline-dark" aria-current="page" href="/">Home</a>
                <a type="button" class="btn btn-outline-dark" aria-current="page" href="{{ path('app_category') }}">Categories</a>

            </div>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a type="button" class="btn btn-outline-light" aria-current="page" href="{{ url('app_login') }}" style="margin-right: 10px"><span class="material-symbols-outlined">account_circle</span>Account</a>
                </li>
                <li class="nav-item">
                    <a type="button" class="btn btn-outline-light" aria-current="page" href="{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.client is not empty %}{{ path('app_cart', {clientId: app.user.client.id}) }}{% else %}{{ path('app_login') }}{% endif %}"><span class="material-symbols-outlined">shopping_cart_checkout</span>Basket</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
    <a href="{{ path('app_assistance') }}" id="round-btn" title="Assistance">
        <span>💬</span>
    </a>
</body>
</html>
