{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <div class="main_stock">
        <div class="form_stock">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" value="{{ prix_min }}" placeholder="Min price" aria-label="Search" name="prix_min">
                <input class="form-control me-2" type="search" value="{{ prix_max }}" placeholder="Max price" aria-label="Search" name="prix_max">
                <button class="btn btn-outline-success" type="submit" formaction="{{ path('app_shop') }}">Filter</button>
            </form>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" value="{{ search }}" placeholder="Search for a product" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit" formaction="{{ path('app_stock') }}">Search</button>
            </form>
        </div>
        <div class="head_stock">
            <div class="head_info_stock"></div>
            <div class="head_info_stock"> Name </div>
            <div class="head_info_stock"> Price </div>
            <div class="head_info_stock d-flex flex-column"> In stock<p class="italic">(click to see details)</p></div>
            <div class="head_info_stock"></div>
        </div>
        <div class="articles_stock">
            {% for article in articles %}
                <div class="article_stock">
                    <div class="article_info_stock"> <img alt="[article image]" src="{{ article.picture }}" width="64" height="64"> </div>
                    <div class="article_info_stock"> <a id="stock" href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.name }}</a> </div>
                    <div class="article_info_stock"> {{ article.price }}€ </div>
                    <a class="article_info_stock nav-link d-flex justify-content-center align-items-start column-gap-1" href="{{ path("app_stock_detail",{id:article.id}) }}"> {{ article.getStock() }} unit(s) <span class="material-symbols-outlined"> arrow_circle_right</span></a>
                    <div class="article_info_stock">
                        <a id="stock_edit" href="{{ path('app_article_update', {'id': article.id}) }}"> <span class="material-symbols-outlined">edit</span></a>
                        <a id="stock_del" href="{{ path('app_article_delete', {'id': article.id}) }}"> <span class="material-symbols-outlined">delete</span></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn btn-outline-success" type="submit" href="{{ path('app_article_create') }}">Ajouter un produit au stock</a>
    </div>
{% endblock %}
