{% extends 'base.html.twig' %}

{% block title %}Stock{% endblock %}

{% block body %}
    <div class="main_stock">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" value="{{ search }}" placeholder="Rechercher un produit" aria-label="Recherche" name="search">
            <button class="btn btn-outline-success" type="submit" formaction="{{ path('app_stock') }}">Rechercher</button>
        </form>
        <div class="articles_stock">
            {% for article in articles %}
                <div class="article_stock">
                    <div class="article_info_stock"> <img alt="[article image]" src="{{ article.picture }}" width="64" height="64"> </div>
                    <div class="article_info_stock"> <a id="stock" href="{{ path('app_article_show', {'id': article.id}) }}">{{ article.name }}</a> </div>
                    <div class="article_info_stock"> {{ article.price }}€ </div>
                    <div class="article_info_stock" id="del"><a id="stock" href="{{ path('app_article_delete', {'id': article.id}) }}"> <span class="material-symbols-outlined">delete</span></a> </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
