{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.firstname, {label: 'Firstname'}) }}
    {{ form_row(form.lastname, {label: 'Lastname'}) }}
    {{ form_row(form.email, {label: 'Mail'}) }}
    {{ form_row(form.password, {label: 'Password'}) }}
    <button type="submit" class="{{ button }}">{{ submit_label }}</button>
    {{ form_end(form) }}
{% endblock %}
