{% extends 'base.html.twig' %}
{% block title %}
    {{ user.lastname }} {{ user.firstname }}
{% endblock %}
{% block body %}
    <br>
    <div class="box">
        <h1>{{ user.lastname }} {{ user.firstname }}</h1>
        <ul>
            <li>{{ user.lastname }}</li>
            <li>{{ user.firstname }}</li>
            <li>{{ user.email }}</li>
            <li>Password (hidden)</li>
            {% if user.client.id is defined %}
                <li> {{ user.client.phone}}</li>
                <li>{{ user.client.address}}, {{ user.client.city}} {{user.client.postcode}}</li>
            {% endif %}
        </ul>
        Change something ? <a href="{{ url('app_user_update', {id: user.id}) }}">Modify</a>
    </div>
    {% if app.user %}
        <div class="mb-3">
            Do you want to disconnect ? <a href="{{ path('app_logout') }}">Disconnection</a>
        </div>
    {% endif %}
    <div class="orders">
        {% if user.client.id is defined %}
            <h2>Orders</h2>
            {% if user.client.orders is not empty %}
                {% for order in user.client.orders %}
                    <a class="orderinfo" href="{{ path('app_order_show',{id:order.id}) }}">
                        <h3>Order n°{{ order.id }} ({{ order.status }})</h3>
                        <div class="flex-row d-flex column-gap-1">
                                <span class="material-symbols-outlined">
event_available
</span>
                            <p> {{ order.orderdate|date('d/m/Y')}}</p>
                        </div>
                        <div class="flex-row d-flex column-gap-1">

                                <span class="material-symbols-outlined">
local_shipping
</span>
                            <p> {{ order.destaddress }},{{ order.destcity }} {{ order.destpostcode }} </p>
                        </div>
                        <div class="flex-row d-flex column-gap-1">
                                <span class="material-symbols-outlined">
paid
</span>
                            <p> {{ order.price}} €</p>

                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div class="orderinfo">
                    <h3>No order made yet</h3>
                </div>
            {% endif %}
        {% elseif is_granted('ROLE_ADMIN')%}
            <h2>Admin links</h2>
            <a href="{{ path('admin') }}" class="btn btn-primary me-md-1 d-flex justify-content-center w-100 column-gap-1" type="button"><span class="material-symbols-outlined">
table_edit
</span>Back-Office<span class="material-symbols-outlined">arrow_circle_right</span></a>
            <a href="{{ path('app_order') }}" class="btn btn-primary me-md-1 d-flex justify-content-center w-100 column-gap-1" type="button"><span class="material-symbols-outlined">
orders
</span>Orders<span class="material-symbols-outlined">arrow_circle_right</span></a>
        {% endif %}
    </div>
{% endblock %}


